.status-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.status-indicator.wet {
    background-color: #0051ff; /* blue */
}

.status-indicator.moist {
    background-color: #00FF00; /* green */
}

.status-indicator.dry {
    background-color: #FF0000; /* red */
}